.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #cccccc;
}
.arrows{
  cursor: pointer;
  transition: transform ease-in .1s;
  & > *{
    width: 20px;
    height: 20px;
  }
  &:hover{
    transform: scale(1.2);
    color: rgba(0,0,0, 0.4);
  }
}
.left{
  @extend .arrows
}
.right{
  @extend .arrows
}
.text{
  font-family: Poppins-Bold;
  font-size: 30px;
  letter-spacing: 2px;
  cursor: default;
  user-select: none;
}